<header class="header">
  <nav class="navbar navbar-expand-lg align-items-center" aria-label="Eleventh navbar example">
      <div class="container d-flex justify-content-between align-items-center">
          <a class="navbar-brand" href="#">
              <img src="img/Logo.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarsExample09">
              <ul class="navbar-nav mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" href="">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Our works</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link">Blog</a>
                  </li>
              </ul>
              <button type="button" class="login-btn">Login</button>
          </div>
          <button type="button" class="login-btn">Login</button>
      </div>
  </nav>
</header>

<!-- hirings -->
<section class="hirings">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="hiring-details">
                  <h6>Your Hiring in Clicks</h6>
                  <h1>change the way you <span>Hire your team</span></h1>
                  <p>Rewards and benefits without the downsides of a credit card. Simplicity and transparency
                      built right in.</p>
                  <form class="hiring-input">
                      <input type="email" placeholder="Enter your email">
                      <button class="btn-purple">Get Started</button>
                  </form>
                  <div class="d-flex align-items-center customers-details">
                      <!-- <img src="img/customer-1.png" alt="">
                      <img src="img/customer-2.png" alt="">
                      <img src="img/customer-3.png" alt=""> -->
                      <h5>2K +</h5>
                      <p>| Customers</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
              <div class="customers-graphs">
                  <img src="img/Image.png" alt="here we dont use img">
              </div>
          </div>
      </div>
  </div>
</section>

<!-- brands-trust-us -->
<section class="brands-trust-us">
  <div class="container">
      <div class="brand-details">
          <div class="d-flex align-items-center">
              <span>trusted by 20,000+ clients</span>
              <!-- <img src="img/stars-group.png" alt=""> -->
          </div>
          <h3 class="same-h">these brands trust us.</h3>
          <div class="d-flex align-items-center brands-logo">
              <!-- <img src="img/compaign.png" alt="brands-logo">
              <img src="img/afterpay.png" alt="brands-logo">
              <img src="img/airwallex.png" alt="brands-logo">
              <img src="img/amplitude.png" alt="brands-logo">
              <img src="img/asana.png" alt="brands-logo"> -->
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 d-flex align-items-center">
              <div class="decover-job">
                  <h6>LOREM IPSUm</h6>
                  <h3 class="same-h">Discover your demanding job</h3>
                  <p class="same-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse enim
                      blandit vitae
                      bibendum amet nulla Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                      enim blandit vitae bibendum amet nulla.</p>
                  <button class="btn-purple">Learn More</button>
              </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="job-opportunity">
                  <!-- <img src="img/demanding-job.png" alt=""> -->
              </div>
          </div>
      </div>
  </div>
</section>

<!-- feature -->
<section class="feature">
  <div class="container">
      <div class="feature-cards">
          <div class="text-center">
              <h3 class="same-h">Features</h3>
              <p class="same-p">Lorem ipsum dolor sit amet consectetur. Integer habitant elit metus urna at lorem
                  adipiscing purus amet. <br>
                  Amet quisque aenean pulvinar libero ut pellentesque.</p>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <div class="feature-card">
                      <!-- <img src="img/code-slash.png" alt=""> -->
                      <h5>Talent Assessment</h5>
                      <p>Evaluate talent accurately through objective,
                          data-driven assessments.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature-card">
                      <!-- <img src="img/code-slash.png" alt=""> -->
                      <h5>Talent Evaluation</h5>
                      <p>Analyze employee performance and forecast future talent needs.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature-card">
                      <!-- <img src="img/code-slash.png" alt=""> -->
                      <h5>Talent Pool</h5>
                      <p>Build and manage a rich talent pool aligned with organizational needs.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature-card">
                      <!-- <img src="img/code-slash.png" alt=""> -->
                      <h5>Succession Planning</h5>
                      <p>Visualizing potential future leadership and facilitate transitions.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature-card">
                      <!-- <img src="img/code-slash.png" alt=""> -->
                      <h5>Performance Insights</h5>
                      <p>Utilize analytics to derive insights on employee potential and areas.
                      </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="feature-card">
                      <!-- <img src="img/code-slash.png" alt=""> -->
                      <h5>Career Matching</h5>
                      <p>Align employees' career goals with organisational requirements.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Have any thoughts? Look here -->

<section class="any-thought">
  <div class="container">
      <div class="text-center d-flex justify-content-center flex-column align-items-center">
          <h5>FIND YOUR ANSWERS</h5>
          <h3 class="same-h">Have any thoughts? Look here</h3>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-quizOne" aria-expanded="false" aria-controls="flush-quizOne">
                      How the affiliate programme works?
                  </button>
              </h2>
              <div id="flush-quizOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt
                      wird, wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, dass es mehr
                      oder weniger die normale Anordnung von Buchstaben darstellt und somit nach lesbarer Sprache
                      aussieht.</div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-quizTwo" aria-expanded="false" aria-controls="flush-quizTwo">
                      How to create customer panel?
                  </button>
              </h2>
              <div id="flush-quizTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt
                      wird, wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, dass es mehr
                      oder weniger die normale Anordnung von Buchstaben darstellt und somit nach lesbarer Sprache
                      aussieht.</div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-quizThree" aria-expanded="false" aria-controls="flush-quizThree">
                      How delete my account?
                  </button>
              </h2>
              <div id="flush-quizThree" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt
                      wird, wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, dass es mehr
                      oder weniger die normale Anordnung von Buchstaben darstellt und somit nach lesbarer Sprache
                      aussieht.</div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-quizFour" aria-expanded="false" aria-controls="flush-quizFour">
                      How to invite people with refferel link?
                  </button>
              </h2>
              <div id="flush-quizFour" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt
                      wird, wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, dass es mehr
                      oder weniger die normale Anordnung von Buchstaben darstellt und somit nach lesbarer Sprache
                      aussieht.</div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-quizFive" aria-expanded="false" aria-controls="flush-quizFive">
                      Is iOS app available for the iphone?
                  </button>
              </h2>
              <div id="flush-quizFive" class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt
                      wird, wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, dass es mehr
                      oder weniger die normale Anordnung von Buchstaben darstellt und somit nach lesbarer Sprache
                      aussieht.</div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Don't take our word for it. -->
<section class="our-words">
  <h3 class="same-h text-center">Don't take our word for it.</h3>
  <div class="card-container container-fluid">
      <div class="cards">
          <div class="card">
              <div class="person-details">
                  <!-- <img class="person-img" src="img/Mask group.png" alt=""> -->
                  <div class="person-name flex-grow-1">
                      <h6>Martin Jones</h6>
                      <p>Trusty of Vyom-Baroda</p>
                  </div>
                  <img class="fiveStars-img" src="img/fiveStars.png" alt="">
              </div>
              <p>Lorem ipsum dolor sit amet. Non numquam amet qui asperiores expedita aut dolorum porro sed ipsum
                  maiores ad ducimus nihil ut natus possimus in dolores quisquam Non numquam amet qui asperiores
                  expedita aut dolorum porro sed ipsum</p>
          </div>
          <div class="card">
              <div class="person-details">
                  <!-- <img class="person-img" src="img/Mask group.png" alt=""> -->
                  <div class="person-name flex-grow-1">
                      <h6>Martin Jones</h6>
                      <p>Trusty of Vyom-Baroda</p>
                  </div>
                  <img class="fiveStars-img" src="img/fiveStars.png" alt="">
              </div>
              <p>Lorem ipsum dolor sit amet. Non numquam amet qui asperiores expedita aut dolorum porro sed ipsum
                  maiores ad ducimus nihil ut natus possimus in dolores quisquam Non numquam amet qui asperiores
                  expedita aut dolorum porro sed ipsum</p>
          </div>
          <div class="card">
              <div class="person-details">
                  <!-- <img class="person-img" src="img/Mask group.png" alt=""> -->
                  <div class="person-name flex-grow-1">
                      <h6>Martin Jones</h6>
                      <p>Trusty of Vyom-Baroda</p>
                  </div>
                  <img class="fiveStars-img" src="img/fiveStars.png" alt="">
              </div>
              <p>Lorem ipsum dolor sit amet. Non numquam amet qui asperiores expedita aut dolorum porro sed ipsum
                  maiores ad ducimus nihil ut natus possimus in dolores quisquam Non numquam amet qui asperiores
                  expedita aut dolorum porro sed ipsum</p>
          </div>
      </div>
  </div>
  <div class="d-flex justify-content-center align-items-center scroll-btns">
      <!-- <button id="leftBtn" class="scroll-btn-left"><img src="img/fi_chevron-left.png" alt=""></button> -->
      <!-- <button id="rightBtn" class="scroll-btn-right"><img src="img/fi_chevron-right.png" alt=""></button> -->
  </div>
</section>

<!-- <script>
  $(document).ready(function () {
      $('.cards').slick({
          slidesToShow: 3,
          responsive: [
              {
                  breakpoint: 1800,
                  settings: {
                      arrows: false,
                      slidesToShow: 2
                  }
              },
              {
                  breakpoint: 767,
                  settings: {
                      arrows: false,
                      slidesToShow: 1
                  }
              }
          ]
      });
      $('.slick-next, .slick-prev').remove();
      $('#rightBtn').on('click', function () {
          $('.cards').slick('slickNext');
      });
      $('#leftBtn').on('click', function () {
          $('.cards').slick('slickPrev');
      });
  });
</script> -->

<div dir="">

</div>
<!-- footer -->
<footer class="footer">
  <div class="container">
      <div class="row footer-detail">
          <div class="col-lg-4 mb-3 d-flex align-items-center">
              <img src="img/Logo-footer.png" alt="">
          </div>
          <div class="col social-account">
              <h5>Find Us On Social Media</h5>
              <ul class="nav social-accounts">
                  <!-- <li class="nav-item"><a href="#"><img src="img/facebook.png" alt=""></a></li>
                  <li class="nav-item"><a href="#"><img src="img/twitter.png" alt=""></a></li>
                  <li class="nav-item"><a href="#"><img src="img/instagram.png" alt=""></a></li> -->
              </ul>
          </div>

          <div class="col footer-help">
              <h5>We’re Always Happy To Help</h5>
              <p>lorem&#64;ipsum.com</p>
          </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
          <p>Copyright © 2024 Tip Talent</p>
      </div>
  </div>
</footer>


























<!-- <p appRedEL>Hello {{name}}</p>
<button (click)="onClick()">Display</button>
<div [hidden]="!Display">
  <p>Here is the content to Display</p>
</div>
<br><br> -->


<!-- event binding -->
<!-- <input type="text" #box (keydown)="getData(box.value)" placeholder="KeyDown"> <br><br>
<input type="text" #box (keypress)="getData(box.value)" placeholder="keypress"> <br><br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="keyup"> <br><br>
<input type="text" #box (blur)="getData(box.value)" placeholder="blur"> <br><br>
<input type="text" #box (input)="getData(box.value)" placeholder="input"> <br><br> -->


<!-- dynamic data in table using loop and array-->
<!-- <table class='table'>
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers;">
      <td>{{customer.customerNo}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.state}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <table>
  <thead>
    <tr>
      <th style="width: 20%;">Page Name</th>
      <th style="width: 20%;">Creation Date</th>
      <th style="width: 20%;">Last Modified Date</th>
      <th style="width: 20%;">Activate/Deactivate</th>
      <th style="width: 20%;">Status</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filteredlist">
      <td>{{data.PageName | uppercase}}</td>
      <td>{{data.CreationDate | lowercase}}</td>
      <td>{{data.ModifiedDate}}</td>
      <td>
        <input type="checkbox" >
      </td>
      <td>
        <div class="toggle">
          <input type="checkbox" [id]="'check' + data.PageName" class="d-none" >
          <label [for]="'check' + data.PageName" class="toggle-btn"></label>
        </div>
      </td>
      <td>
        <span class="d-inline-flex align-items-center justify-content-center status_label" [ngClass]="{
            'rejected': data?.status === 'Rejected',
            'accepted': data?.status === 'Accepted',
            'pending': data?.status === 'Pending'
          }">
          {{data.status}}
        </span>
      </td>
      <td>
        <div ngbDropdown container="body" class="d-inline-block dropdownAction">
          <button type="button" class="btn p-0 border-0" id="dropdownAction" ngbDropdownToggle>
            <img src="../../../assets/images/dots.svg" class="img-fluid" alt="dots">
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownAction">
            <a ngbDropdownItem>Edit</a>
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="filteredlist.length === 0">
      <td colspan="7" class="text-center">Hello</td>
    </tr>
  </tbody>
</table> -->